input[type=text]{
    width: 150px;
}

input[type=password]{
    width: 150px;
}

input[type=submit]{
    position: relative;
    background-color: #e0e0d1;
    text-align: right;
    display: inline-block;
}

input[name=texto]{
    width: 50%;
    height: 100px;
    padding: 2px 2px 2px 2px;
    resize: none;
}

.select-checkbox option::before {
  content: "\2610";
  width: 1.3em;
  text-align: center;
  display: inline-block;
}
.select-checkbox option:checked::before {
  content: "\2611";
}