<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">admin</property>
  <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
  <property name="hibernate.connection.username">postgres</property>
  <property name="hibernate.default_schema">koren</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <mapping class="com.school.koren.model.Account" file="Account" package="com.school.koren.model"/>
  <mapping class="com.school.koren.model.Category" file="Category" package="com.school.koren.model"/>
  <mapping class="com.school.koren.model.Commentary" file="Commentary" package="com.school.koren.model"/>
  <mapping class="com.school.koren.model.Post" file="Post" package="com.school.koren.model"/>
 </session-factory>
</hibernate-configuration>
